@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/be-vietnam-pro-v8-latin-300.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/be-vietnam-pro-v8-latin-regular.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/be-vietnam-pro-v8-latin-500.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/be-vietnam-pro-v8-latin-600.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/be-vietnam-pro-v8-latin-700.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/be-vietnam-pro-v8-latin-900.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-900.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.main-top-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  .main-top-title {
    font-size: 20px;
    text-align: left !important;
  }
}

@media (max-width: 768px) {
  .img {
    width: 100%;
    height: auto;
  }

  .main-top-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 20px;
    text-align: center !important;
  }
}