@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/be-vietnam-pro-v8-latin-300.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/be-vietnam-pro-v8-latin-regular.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/be-vietnam-pro-v8-latin-500.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/be-vietnam-pro-v8-latin-600.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/be-vietnam-pro-v8-latin-700.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/be-vietnam-pro-v8-latin-900.woff2') format('woff2'),
        url('../fonts/be-vietnam-pro-v8-latin-900.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.main-top-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.6;
}

.main__vs {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.6;
}

.main__vs-input{
  width: 21px !important;
  height: 21px !important;
  margin-left: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid transparent;
  border-radius: 50%;
  box-shadow: none;
  font-size: 0.7em;
  text-align: center;
  line-height: 1em;
  background-color: #42D6F4;
  display: flex;
  padding-left: 3px;
  padding-top: 3px;
}

.main__vs-input:checked:after {
  content: '✔';
  color: #ffffff;
}


@media (max-width: 1200px) {
  .main-top-title {
    font-size: 20px;
    text-align: left !important;
  }
}

@media (max-width: 768px) {
  .img {
    width: 100%;
    height: auto;
  }

  .main-top-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 20px;
    text-align: center !important;
  }
}